* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 0;
}

p {
  padding-top: 0;
  margin-top: 0;
}

/* header */

header {
  background-color: #1f2937;
  color: #ffffff;
  padding: 1em;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 18px;
  color: #e5e7eb;
}

.nav .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 60vh;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left,
.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  width: 50%;
}

.hero img {
  max-width: 450px;
  align-self: center;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Main section */

.container {
  margin: 0 auto;
  max-width: 860px;
}

/* section one */
.section-one {
  padding-bottom: 4rem;
}

.images {
  max-width: 160px;
  border-radius: 10px;
  border: 4px solid #3882f6;
}

.section-one h2 {
  font-size: 36px;
  text-align: center;
}

.img-container {
  display: flex;
  padding: 1rem;
}

.img-wrapper {
  padding: 10px;
}

/* section two */
.section-two {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 4rem 2rem;
}

.quote-wrapper {
  margin: 0 auto;
  width: 640px;
}

.section-two p {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.section-two .align-right {
  text-align: right;
  font-weight: 900;
  margin-top: 0;
}

/* section three */
.section-three {
  background-color: #f9faf8;
  padding: 5rem;
}

.action-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  color: #f9faf8;
}

.action-text {
  display: flex;
  flex-direction: column;
}

.btn-border {
  border: 2px #f9faf8 solid;
  margin-right: 2rem;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 1em;
  font-size: 1.2rem;
  background-color: #1f2937;
  color: #f9faf8;
}

.github-mark {
  height: 1.2em;
  transition: transform 0.4s ease-in-out;
  filter: invert(100%);
}

.github-mark:hover {
  transform: rotate(360deg) scale(1.2);
}
